{% extends 'base.html.twig' %}

{% block title %}Livraison{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="span12">
            <h2>Livraison</h2>
            <div id="collapseOne" class="accordion-body collapse in">
                <div class="accordion-inner">
                    <div class="span4">
                            <h4>Adresse de livraison</h4>
                            {% for utilisateurAdresses in utilisateurAdresses %}
                            <label class="radio">
                                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                                {{ utilisateurAdresses.adresse }}, {{ utilisateurAdresses.cp }} {{ utilisateurAdresses.ville }}, {{ utilisateurAdresses.Pays }} 
                                <a href={{ path('supprimerAdresse', {'id': utilisateurAdresses.id}) }}><i class="icon-trash"></i></a>
                            </label>
                            {% endfor %}
                            <br /><br />
                            <a href="{{ path ('app_validation_commande') }}" class="btn btn-success pull-right">Continuer</a>
                    </div>
				<div class="span4 offset2">
					<h4>Ajouter une nouvelle adresse</h4>
                    {{ form(utilisateurAdresse) }}
					</div>
				</div>
			</div>					
	</div>
</div>
{% endblock %}