{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/css/components/login.css') }}" />
{% endblock %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

{% block body %}
<div class="ring">
    <i style="--clr:#fec3a6;"></i>
    <i style="--clr:#fd9c6b;"></i>
    <i style="--clr:#ba622f;"></i>
    <div class="login">
        <h2>Connexion</h2>
        <div class="span4">
            <h4>Pas encore inscrit ?</h4>
            <em>nous vous invitons à vous inscrire<br /></em>
            <br /><br />
            <a href="{{ path('app_register') }}" class="btn">S'inscrire</a>
        </div>
        <form method="post">
            {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <div class="inputBx">
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control"
                    autocomplete="email" required autofocus placeholder="Email">
            </div>
            <div class="inputBx">
                <input type="password" name="password" id="inputPassword" class="form-control"
                    autocomplete="current-password" required placeholder="Mot de Passe">
            </div>
            <div class="inputBx">
                <input type="submit" value="Connexion">
            </div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        </form>
        <div class="links">
            <a href="mot-de-passe-perdu.php">Mot de passe perdu ?</a>
        </div>
    </div>
</div>
{% endblock %}