{% block title %}Register{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="span12">
            <h2>Inscription</h2>
            <div id="collapseOne" class="accordion-body collapse in">
                <div class="accordion-inner">
                    <div class="span4">
                        <h4>Pas encore inscrit ?</h4>
                        <em>
                            nous vous invitons à vous inscrire<br />
                        </em>
                    </div>
                    
                    <div class="span4 offset2">
                        <h4>Inscription</h4>
                            {{ form_start(registrationForm) }}
                                {{ form_row(registrationForm.pseudo) }}
                                {{ form_row(registrationForm.email) }}
                                {{ form_row(registrationForm.plainPassword, {
                                    label: 'Password'
                            }) }}
                                {{ form_row(registrationForm.agreeTerms) }}

                                <button type="submit" class="btn btn-primary">Inscription</button>
                            {{ form_end(registrationForm) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
