{% extends "base.html.twig" %}

{% block title %}Presentation{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/css/components/presentation.css') }}" />
{% endblock %}

{% block body %}
<div class="d-flex justify-content-center align-items-center" style="margin: 80px 0;">
    <div class="product-page container py-5">
        <div class="row">
            <div class="col-lg-6">
                <div class="product-image mb-4">
                    <img src="{{ asset('uploads/' ~ produit.image.path) }}" class="img-fluid" alt="{{ produit.nom }}">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="product-info">
                    <h2 class="product-title mb-3">{{ produit.nom }}</h2>
                    <h4 class="product-category text-muted mb-3">{{ produit.categorie.nom }}</h4>
                    <p class="product-description mb-4">{{ produit.description }}</p>
                    <h3 class="product-price mb-4">{{ produit.prix }} €</h3>
                    <form action="{{ path('app_panier', {'id': produit.id}) }}" method="get">
                        <div class="d-flex justify-content-center">
                            <a class="btn btn-primary btn-lg" href="{{ path('app_ajouterPanier', {'id' : produit.id}) }}">Ajouter au panier</a>
                        </div>
                    </form>   
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    {% include 'footer.html.twig' %}
</footer>

{% endblock %}
