{% extends "base.html.twig" %}

{% block title %}Acceuil{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="span3">
        {% include 'modulesUsed/navigation.html.twig' %}
        {% include 'modulesUsed/utilisateur.html.twig' %}
        </div>
        <div class="span9">
            <ul class="thumbnails">
                {% for stock in stocks %}
                {% if stock.stockCritique == 0 %}
                <li class="span3">
                    <div class="thumbnail">
                        <img src="{{ stock.produit.getImage }}" alt="ALL4SPORT" width="200" height="200">
                        <div class="caption">
                            <h4>{{ stock.produit.nom }}</h4>
                            <p>{{ stock.produit.prix }} €</p>
                            <a class="btn btn-primary" href="{{ path('app_presentation', { 'id' : stock.produit.id}) }}">Plus d'infos</a>
                            <a class="btn btn-success" href="{{ path('app_ajouterPanier', {'id' : stock.produit.id}) }}">Ajouter au panier</a>
                        </div>
                    </div>
                </li>
                {% endif %}
                {% endfor %}
            </ul>

            <div class="pagination">
                <ul>
                    <li class="disabled"><span>Précédent</span></li>
                    <li class="disabled"><span>1</span></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">Suivant</a></li>
                </ul>
            </div>

        </div>
    </div>
</div>
{% endblock %}
