{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}
<div class="container">
    <div class="row" style="margin: 100px 0;">
    <h1>Liste des utilisateurs</h1>
    <table class="table">
        <thead>
            <th>ID</th>
            <th>Email</th>
            <th>Rôles</th>
            <th>Date Modification</th>
            <th>Actions</th>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        {% for role in user.roles %}
                            {% if  role == "ROLE_USER" %}
                                Utilisateur
                                {% elseif role == "ROLE_EDITOR" %}
                                    Editeur,
                                {% elseif role == "ROLE_ADMIN" %}
                                    Administrateur,
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>{{ user.dateInscription|date("H:i:s d-m-Y") }}</td>
                    <td><a href="{{ path('app_modifierUtilisateurs', {'id': user.id}) }}" class="btn btn-warning">Modifier</a></td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Il n'y a pas d'utilisateur inscrit</td>
                </tr>
            {% endfor %}
        <tbody>
    </table>
    </div>
    <a href="{{ path ('app_panel') }}" class="btn btn-primary">Retour</a>
</div>
{% endblock %}
