<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ asset('assets/css/responsive.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets/css/font-awesome.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.css') }}" />
    <link rel="stylesheet" href=" {{ asset('assets/css/bootstrap-responsive.css') }}" />
    <link rel="stylesheet" href=" {{ asset('assets/css/font-awesome.css') }}" />
    <link rel="stylesheet" href=" {{ asset('assets/css/components/navbar.css') }}" />
    <link rel="stylesheet" href=" {{ asset('assets/css/components/footer.css') }}" />

    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('assets/img/logo.png') }}" />

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous" />
    {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>

<body>
    {% block body %}{% endblock %}

    <!-- header section strats -->
    <header class="header_section">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg custom_nav-container">
                <a class="navbar-brand" href="/">
                    <span>
                        BlissfulHaven
                    </span>
                </a>
                <div class="" id="">

                    <div class="custom_menu-btn">
                        <button onclick="openNav()">
                            <span class="s-1"> </span>
                            <span class="s-2"> </span>
                            <span class="s-3"> </span>
                        </button>
                        <div id="myNav" class="overlay">
                            <div class="overlay-content">
                                <a href="/">Accueil</a>
                                <a href="/panier">Mon panier</a>
                            </div>
                        </div>
                    </div>

                </div>
            </nav>
        </div>
    </header>
    <!-- end header section -->



    {% block javascripts %}
    {# Ajoutez vos fichiers JavaScript ici #}
    <script src="{{ asset('assets/js/custom.js') }}"></script>
    <script src="{{ asset('assets/js/bootstrap.js') }}"></script>
    <script src="{{ asset('assets/js/jquery-3.4.1.min.js') }}"></script>
    {% endblock %}
</body>

</html>